.navbar {
    background-color: rgb(158, 200, 185) !important;
    display: flex !important;
    justify-content: end;
}

body {
    background-color: rgb(251, 255, 254) !important;
}

h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: rgb(27, 66, 66) !important;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: bolder !important;
}

#hero {
    background-image: url("../src/avion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
    padding: 0%;
    color: white !important;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: bold !important;
}

.agencia {
    font-weight: lighter !important;
}


#promocion {
    margin: 20px;
    padding: 20px;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    font-weight: bold;
}

a {
    &:link {
        cursor: pointer !important;
    }

    &:hover {
        color: aliceblue !important;
    }
}

#cotizacion {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 20px !important;
    color: black !important;
    text-align: center !important;
    font-weight: bold;
}

#card {
    margin: 30px;
    padding: 30px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;
    width: 10%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 20px;
}

.card-tittle p {

    align-items: center;
    justify-content: center;
    text-align: center;
}


#contenedorDestinos {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
    width: 70%;
}

#tarjetas {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#travel {
    display: flex !important;
}

#carrito {
    width: 30%;
}

.btn {
    background-color: rgb(158, 200, 185) !important;
    color: black !important;
    border: none !important;
}

.total {
    font-weight: bold;
}


footer {
    margin: 20px !important;
    background-color: rgb(158, 200, 185) !important;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    justify-content: end;
}